
.header {
    background-color: blue;
    height: 6rem;
    width: 100%;

}

.nav {
    background-color: aquamarine;
    height: 4rem;
    width: 100%;
}

.space {
    background-color: aqua;
height: 2rem;
width: 100%;
}

.no {
    background-color: gray;
    height: 40rem;
    width: 99.1%;
    position: absolute;
}

.section {
    background-color: cornflowerblue;
    height: 35rem;
    width: 90%;
    margin-left: 5%;
    margin-top: 2.5rem;

}
.footer {
    background-color: blue;
    height: 6rem;
    width: 100%;
    margin-top: 40rem;
}
.left1 {
    background-color: yellow;
    height: 17.5rem;
    width: 45%;
    margin-left: 5%;
    margin-top: 2.5rem;
    float: left;
}

.right1 {
    background-color: rgb(83, 83, 6);
    height: 17.5rem;
    width: 45%;
    margin-right: 5%;
    float: right;
    margin-top: 2.5rem;
}
.left2 {
    background-color: rgb(83, 83, 6);
    height: 17.5rem;
    width: 45%;
    margin-left: 5%;
    float: left;
}

.right2 {
    background-color: yellow;
    height: 17.5rem;
    width: 45%;
    margin-right: 5%;
    float: right;
}

